* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
:root{
	font-size: 16px;
}
.logo{
	font-size: 2rem;
	font-weight: bold;
}
a{
	text-decoration: none;
	color: #000;
}
.header{
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
    padding: 30px;
}
.navbar{
    display: flex;
	-webkit-flex-basis: 60%;
	        flex-basis: 60%;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
    padding-right: 40px;
	&__link{
	    color: orange;
	    margin-right: 30px;		
	}
}

.searchBlock{ 
    &__form{
		width: 100%;
		text-align: center;
    }
	&__input{
		background: none;
		width: 40%;
		height: 40px;
		border: 1px solid orange;
		padding: 10px;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		margin-right: 10px;
	}
	&__btn{ 
		background: none;
		height: 40px;
		border: 1px solid orange;
		padding: 10px;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		cursor: pointer;
	}
}

.section{
	padding: 40px 0;
}

.wrapper{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	div{
		// display: none;
	}
}

.books{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 40px 20px; 
}

.bookWrapper{
	padding: 20px 10px 10px 10px;
	background: rgba(211, 211, 211, 0.3);
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}

.book{ 
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
	min-height: 230px;
	cursor: pointer;
	&__img{ 
		width: 100%; 
		margin-bottom: 10px;
		img{
			width: 100%;
		}
	}
	&__fav{	
		padding: 4px 0;
	}
}

.topBook, .favBook{
	width: 100%;
	display: flex; 
	cursor: pointer;
	&__img{
		-webkit-flex-basis: 40%;
		        flex-basis: 40%;
		// height: 200px;
		width: 100%;
		// background: linear-gradient(45deg, #eee, #ff0, #eee, #ff0, #eee);
		padding: 20px;
		img{
			width: 100%;
		}
	}
	&__text{
		width: 100%;
		padding: 20px;
	}
	&__name{
		font-size: 1.2rem;
		font-weight: bold;
	}
	&__author{
		font-weight: bold;
	}
	&__descr{
		margin: 20px 0;
	}
	&__rating{
		color: red;
	    margin-bottom: 30px;
	}
	&__fav{
		padding: 4px 22px;
	}
}

.modalWindow{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6); 
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	font-size: 0.8rem;
	z-index: 9;
	.bookModalWrapper{
		width: 700px;
		height: 95%;
		padding: 20px;
		background: #FFF;
	}
	.bookModal{  
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
	    height: 100%;
		&__img{ 
		    width: 80%;
		    margin: 0 auto;  
			background: linear-gradient(45deg, #eee, #ff0, #eee, #ff0, #eee);
			img{
				width: 100%;
			}
		}
		&__shortDescr{
			margin: 10px 0;
		} 
		&__linkToBrief{
			text-align: center;
			padding: 10px;
			border-right: #101010;
			background: rgba(0, 0, 0, 0.3);
			color: #FFF;
			font-weight: bold;
		}
		&__fav{
			padding: 10px;
			margin: 5px;
		}
	}
}
 

.footer{ 
	padding: 20px;
	&__logo{
		text-align: center;
		margin-bottom: 20px;
	}
	.copyright{
		text-align: center;
	}
}



